.light-theme {
  --base-color: #036e74;
  --light-color-1: #0c8d81;
  --light-color-2: #3eab84;
  --dark-color-1: #113e4c;
  --dark-color-2: #00272e;
}

.container {
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 90vh;
}

a {
  color: var(--el-color-primary);
  text-decoration: none;
}
